body, html {
  background-color: #ffffff !important; 
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex-grow: 1;
}


.header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
}

.header-logo {
  width: 80px;
  height: 80px;
  margin-right: 30px;
}

.header-title {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  color: #132b60;
  font-weight: normal;
}

.header-logo-right {
  margin-left: auto;
  width: 80px;
  height: 80px;
}

.sidebar {
  background-color: #132b60 !important;
  color: #f5f5f5 !important;
}

.blue-text {
  color: #132b60;
  font-family: 'Roboto';
}

.black-text {
  color: #000104;
  font-family: 'Roboto';
  font-weight: 500;
}

.sidebar .selectize-input,
.sidebar .shiny-input-container > input[type="number"] {
  background-color: #f5f5f5 !important;
  font-weight: 500 !important;
  font-family: 'Roboto';
}

.sidebar .selectize-dropdown {
  background-color: #f5f5f5 !important;
  font-weight: normal !important;
  font-family: 'Roboto';
}

.sidebar .selectize-dropdown .option.active {
  background-color: #047cc4 !important;
  color: white !important;
}

.sidebar .selectize-dropdown .option:hover,
.sidebar .selectize-dropdown .option.selected:hover {
  background-color: #047cc4 !important;
  color: white !important;
}

.sidebar .selectize-control.single .selectize-input:after {
  border-color: #132b60 transparent transparent transparent !important;
}

.sidebar .selectize-dropdown .option.selected {
  background-color: transparent !important;
  color: inherit !important;
}

.sidebar label {
  color: #f5f5f5 !important;
  font-weight: 500 !important;
  font-family: 'Roboto';
  font-size: 16px;
}

